<html>
<head>
    <title>Chat application</title>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container py-3">
        @RenderBody()
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/libs/signalr/signalr.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>